.chartContainer {
      margin-top: 2em;
      height: 500px;
      margin-bottom: 1em;
}
.priceTable {
      display: flex;

      height: 500px;
      margin-top: 2em;
      text-align: right;
      overflow-y: scroll;
      margin-bottom: 1em;
      & .priceRow {
            display: flex;
            justify-content: center;

            flex-direction: row;
      }
}
.priceList {
      display: flex;
}

.active-row > td {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: #428bca !important;
      font-weight: bold;
      font-size: 1.2em;
      animation-name: backgroundColorPalette;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
.price {
      h2 {
            font-weight: bold;
      }
      p {
            font-weight: bold;
      }
}
.priceBadge {
      font-size: 1.5em;
}
